* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;
    background-color: #120945;
    font-family: Livvic, sans-serif;
}

.contenitore {
    max-width: 500px;
    margin: 0 auto;
  }

header {
    height: 220px;
    background-color: #3535ec;
    border-radius: 0 0 20px 20px;
  
    position: sticky;
    top: 0;
    left: 0;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70px;
    background-image: url('../images/header-bg.png');
  
    z-index: 1;
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 32px 16px;
  }

  .calendario {
    padding: 5px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cont {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 12px;
    background-color: #306753;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cont:last-child {
    width: calc(100% - 15px);
    color: #306753;
    background-color: #d4d7f5;
  }

  .cont-icon {
    width: 20px;
    height: 20px;
  }
  
  .cont-data {
    font-size: 30px;
    font-weight: 600;
  }

  .apri-cont {
    opacity: 0.6;
  }

  .su-modale {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(12, 11, 74, 0.8);
  
    z-index: 2;
  }
  
  .vista-modale {
    min-width: 320px;
    min-height: 320px;
    background-color: #de7eb6;
    border-radius: 12px;
  
    padding: 32px;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    transform: scale(1);
  
    transition: transform 0.5s;
  }
  
  .modale-cont {
    margin-bottom: 12px;
  }
  
  .modale-cont * {
    max-width: 100%;
  }
  
  .modale-btn {
    border: 0;
    padding: 8px 12px;
    font-size: 20px;
    background-color: #3535ec;
    color: white;
  }
  
  .no-modale {
    visibility: hidden;
  }
  
  .no-modale .vista-modale {
    /* transform: scale(0); */
  }